body {
    font-family:"DejaVu Sans", "Avenir Next", Avenir, sans-serif;
}

h1 {
    font-weight:400;
    margin:0;

}

.tabulator-row .tabulator-cell {
  padding:1px;
}

input {
  transform:scale(0.75);
}

.main-grid {
  display:grid;
  width:98vw;
  height:98vh;
  grid-gap:5px;
  grid-template-rows:10% 6% 68% 5%;
  grid-template-columns:28% 68%;
  grid-template-areas:
    'header header'
    'menu menu'
    'main right'
    'footer footer';
}

.form-grid {
  display:grid;
  grid-gap:0;
  grid-template-columns:25% 25% 25% 25%;
  grid-template-areas:
    'source feature variant model';
}

.table-cfg-grid {
}

.graph-cfg-grid {
}
