.main-grid {
  display:grid;
  width:99vw;
  height:99vh;
  grid-gap:2vw;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}
